{% extends 'base.html.twig' %}

{% block body %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">

    <style>

        img{
          margin-top: 25px;
        }

        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }

        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
        .accroche{font-size:40px;color:#fff;margin-bottom:0px}
        .accroche{font-family:'Satisfy'!important;font-size:22px;margin:0!important;color:#333}

         h2,.post-content
          h2{font-family:Montserrat,Arial,Helvetica,sans-serif;font-weight:700;line-height:1.26;letter-spacing:0px;font-style:normal}#wrapper .post-content
           h2{font-size:24px}
         .post-content
         h2{color:#2b2e32}
         h1{margin-top:0.7em;margin-bottom:0.7em}
         h2{margin-top:0em;margin-bottom:0.25em}
     .fusion-sep-clear{clear:both;display:block;height:1px;font-size:0;line-height:0;width:100%;overflow:hidden}
     .fusion-separator{border:0 solid #e7e6e6;clear:both;position:relative;z-index:11}

     .fusion-separator.sep-single{height:auto;border-top-width:1px;border-bottom-width:0}
  .fusion-separator.sep-solid{border-bottom-style:solid;border-top-style:solid}

  .cute-separator{
    border-color:#e97f7a;
    border-top-width:5px;
    margin-left: auto;
    margin-right: auto;
    margin-top:0px;
    margin-bottom:30px;
    width:100%;
    max-width:500PX;
  }

  .gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
  }

  .gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; }

  @media (max-width: 450px) {
    .gallery {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
      -webkit-column-width: 100%;
      -moz-column-width: 100%;
      column-width: 100%;
    }
  }
  </style>

    <title>Le Germain artisants - galerie</title>
  </head>
  <body>
    <div class="container marketing">

    <div class="row featurette">
      <div class="col-md-12">
        <div class="fusion-text">
          <h1 style="text-align: center;">Galerie photo</h1>
          <div class="fusion-sep-clear"></div><div class="fusion-separator sep-single sep-solid" style="border-color:#e97f7a;border-top-width:3px;margin-left: auto;margin-right: auto;margin-top:0px;margin-bottom:30px;width:100%;max-width:50PX;"></div>
          <p class="lead" >Retrouvez ici les meilleurs création de <strong>Le Germain</strong>. Fort de ses deux experts téchnicien <strong>André Legermain</strong> et <strong>Philippe Troquin</strong> habitués à intervenir, notamment, sur des bâtiments classés  Monuments <strong>Historiques.</strong>
              </p>
        </div>
      </div>
    </div>
      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-12">
          <div class="fusion-text">
          <h2 style="text-align: center;">Charpente</h2><div class="fusion-sep-clear"></div><div class="fusion-separator sep-single sep-solid" style="border-color:#e97f7a;border-top-width:3px;margin-left: auto;margin-right: auto;margin-top:0px;margin-bottom:30px;width:100%;max-width:50PX;"></div>
          <p class="lead">La société <strong>Legermain</strong>, jeune entreprise alliant créativité et dynamisme, vous propose de mettre son savoir faire à votre service.
          Pour  vos travaux de charpente, couverture, escaliers et autres ouvrages spécifiques faites confiance à deux techniciens du bois, <strong>André Legermain</strong> et <strong>Philippe Troquin</strong> habitués à intervenir, notamment, sur des bâtiments classés  Monuments <strong>Historiques.</strong>
              </p>
          </div>
        </div>
      </div>
    </div>
   <section >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="row mb-4">
                    <a href="{{asset('img/charpente (1).jpg')}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
                        <img src="{{asset('img/charpente (1).jpg')}}" class="img-fluid">
                    </a>
                    <a href="{{asset('img/charpente (2).jpg')}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
                        <img src="{{asset('img/charpente (2).jpg')}}" class="img-fluid">
                    </a>
                    <a href="{{asset('img/charpente (3).jpg')}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
                        <img src="img/charpente (3).jpg" class="img-fluid">
                    </a>
                    <a href="{{asset('img/charpente (7).jpg')}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
                        <img src="img/charpente (7).jpg" class="img-fluid">
                    </a>
                </div>
                <div class="row mb-4">
                    <a href="img/charpente (4).jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
                        <img src="img/charpente (4).jpg" class="img-fluid">
                    </a>
                    <a href="img/charpente (5).jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
                        <img src="img/charpente (5).jpg" class="img-fluid">
                    </a>
                    <a href="img/charpente (6).jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
                        <img src="img/charpente (6).jpg" class="img-fluid">
                    </a>
                    <a href="{{asset('img/charpente (8).jpg')}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
                        <img src="img/charpente (8).jpg" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>

        <div class="fusion-separator mt-5 sep-single sep-solid" style="border-color:#e97f7a;border-top-width:3px;margin-left: auto;margin-right: auto;margin-top:0px;margin-bottom:30px;width:100%;max-width:500PX;"></div>

        <div class="row featurette">
          <div class="col-md-12">
            <div class="fusion-text">
            <h2 style="text-align: center;">Couverture</h2><div class="fusion-sep-clear"></div><div class="fusion-separator sep-single sep-solid" style="border-color:#e97f7a;border-top-width:3px;margin-left: auto;margin-right: auto;margin-top:0px;margin-bottom:30px;width:100%;max-width:50PX;"></div>
            <p class="lead"><strong>Legermain</strong>, dispose d'un <strong>savoir-faire</strong> précieux dans la couverture en ardoise et en tuile. Disposant d'une main d'oeuvre <strong>experimenté</strong> et à l'écoute, qui vous accompagnera dans vos projets de couvrage les plus osez !
                </p>
            </div>
     <section >
       <div class="gallery justify-content-center" id="gallery">
         <!-- Grid column -->
         <div class="mb-3 pics">
           <a href="{{asset('img/couverture (2).jpg')}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
               <img src="{{asset('img/couverture (2).jpg')}}" class="img-fluid">
           </a>
         </div>
         <!-- Grid column -->

         <!-- Grid column -->
         <div class="mb-3 pics">
           <a href="{{asset('img/couverture (3).jpg')}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
               <img src="{{asset('img/couverture (3).jpg')}}" class="img-fluid">
           </a>
         </div>
         <!-- Grid column -->

         <!-- Grid column -->
         <div class="mb-3 pics">
           <a href="{{asset('img/couverture (5).jpg')}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
               <img src="{{asset('img/couverture (5).jpg')}}" class="img-fluid">
           </a>
         </div>
         <!-- Grid column -->

         <!-- Grid column -->
         <div class="mb-3 pics">
           <a href="{{asset('img/couverture (1).jpg')}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
               <img src="{{asset('img/couverture (1).jpg')}}" class="img-fluid">
           </a>
         </div>
         <!-- Grid column -->

         <div class="mb-3 pics">
           <a href="{{asset('img/couverture1.jpg')}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
               <img src="{{asset('img/couverture1.jpg')}}" class="img-fluid">
           </a>
         </div>
         <!-- Grid column -->

         <!-- Grid column -->
         <div class="mb-3 pics">
           <a href="{{asset('img/couverture (4).jpg')}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
               <img src="{{asset('img/couverture (4).jpg')}}" class="img-fluid">
           </a>
         </div>
         <!-- Grid column -->
       </div>
   </section>

   <div class="fusion-separator mt-5 sep-single sep-solid" style="border-color:#e97f7a;border-top-width:3px;margin-left: auto;margin-right: auto;margin-top:0px;margin-bottom:30px;width:100%;max-width:500PX;"></div>

   <div class="row featurette">
     <div class="col-md-12">
       <div class="fusion-text">
       <h2 style="text-align: center;">Ouvrage</h2><div class="fusion-sep-clear"></div><div class="fusion-separator sep-single sep-solid" style="border-color:#e97f7a;border-top-width:3px;margin-left: auto;margin-right: auto;margin-top:0px;margin-bottom:30px;width:100%;max-width:50PX;"></div>
       <p class="lead"><strong>Legermain</strong> vous accompagne dans vos projet de gros oeuvres. Fort de ses <strong>70 ans d'éxpérience</strong> sont savoir <strong>faire est reconnu</strong>.
           </p>
       </div>
 <section >
  <div class="gallery justify-content-center" id="gallery">
    <!-- Grid column -->
    <div class="mb-3 pics">
      <a href="{{asset('img/ouvrage (1).jpg')}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
          <img src="{{asset('img/ouvrage (1).jpg')}}" class="img-fluid">
      </a>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="mb-3 pics">
      <a href="{{asset('img/ouvrage (6).jpg')}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
          <img src="{{asset('img/ouvrage (6).jpg')}}" class="img-fluid">
      </a>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="mb-3 pics">
      <a href="{{asset('img/ouvrage (6).jpg')}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
          <img src="{{asset('img/ouvrage (6).jpg')}}" class="img-fluid">
      </a>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="mb-3 pics">
      <a href="{{asset('img/ouvrage (6).jpg')}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
          <img src="{{asset('img/ouvrage (6).jpg')}}" class="img-fluid">
      </a>
    </div>
    <!-- Grid column -->

    <div class="mb-3 pics">
      <a href="{{asset('img/ouvrage (6).jpg')}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
          <img src="{{asset('img/ouvrage (6).jpg')}}" class="img-fluid">
      </a>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="mb-3 pics">
      <a href="{{asset('img/ouvrage (6).jpg')}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
          <img src="{{asset('img/ouvrage (6).jpg')}}" class="img-fluid">
      </a>
    </div>
    <!-- Grid column -->
  </div>
  </section>
 </div>
 </div>
 </div>
</div>
</div>
</div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
</html>

{% endblock %}
