{% extends 'base.html.twig' %}
{% block body %}

  <title>TEST</title>
  <script src="https://kit.fontawesome.com/f3dc249d71.js" crossorigin="anonymous"></script>


    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{asset("css/index.css")}}">


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval = "10000">
      <img src="{{asset("img/imageBandeau2.png")}}" class="d-block w-100" alt="..." width="1078" height="650rem">
    </div>
    <div class="carousel-item">
      <img src="{{asset("img/imageBandeau3.png")}}" class="d-block w-100" alt="..."  width="1078" height="650rem">

    </div>
    <div class="carousel-item">
      <img src="{{asset("img/imageBandeau4.png")}}" class="d-block w-100" alt="..."  width="1078" height="650rem">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Précédent</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Suivant</span>
  </a>
</div>





    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">



    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <div class="fusion-text">
        <p class="accroche" style="text-align: center;color:  #fb7d09;">Qui sommes-nous ?</p>
        <h2 style="text-align: center;color: rgba(12,94,98,1);">Artisanat Bois Création</h2><div class="fusion-sep-clear"></div><div class="fusion-separator sep-single sep-solid" style="border-color:#e97f7a;border-top-width:3.5px;margin-left: auto;margin-right: auto;margin-top:0px;margin-bottom:30px;width:100%;max-width:200PX;"></div><div class="fusion-text">
        <p class="lead text-justify">La société <strong>Legermain</strong>, jeune entreprise alliant créativité et dynamisme, vous propose de mettre son savoir faire à votre service.
        Pour  vos travaux de charpente, couverture, escaliers et autres ouvrages spécifiques faites confiance à deux techniciens du bois, <strong>André Legermain</strong> et <strong>Philippe Troquin</strong> habitués à intervenir, notamment, sur des bâtiments classés  Monuments <strong>Historiques.</strong></p>
          <p class="lead text-justify"> Afin d’être plus concret, nous vous invitons à découvrir, en images, les ouvrages déjà réalisés. </p>

            </p>

            <a href="{{path("apropos")}}"><button style=" background-color:rgba(12,94,98,1);" type="button" class="btn btn-primary" type="submit">EN SAVOIR +</button></a>
     <div class="mb-5"></div>
      </div>

</div>
</div>
      <div class="col-md-5">
        <div class="mb-5" ></div>
        <div class="mb-5" ></div>

<div class="single-works">
              <img src="{{asset("img/charpente (2).JPG")}}" style = "height: 335px;" alt=""  >

          </div>


      </div>
    </div>




      <hr class="featurette-divider">
      <div class="mb-5"></div>
<h2 style ="text-align: center;color: rgba(12,94,98,1);"> <img src="https://www.pbc-toiture.fr/themes/default_3_columns/img/rea.png" class="img-responsive"
          >Réalisations</h2><div class="fusion-sep-clear"></div><div class="fusion-separator sep-single sep-solid" style="border-color:#e97f7a;border-top-width:3.5px;margin-left: auto;margin-right: auto;margin-top:0px;margin-bottom:30px;width:100%;max-width:100PX;"></div>
          <div class="fusion-text">

          </div>

<!-- section -->
<div class="section layout_padding padding_top_0">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">

                </div>
            </div>
        </div>
        <div class="row">
            <a href="{{path("galerieCharpente")}}">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="full news_blog">
                   <div class="single-works">
              <img src="{{asset("img/charpente (6).JPG")}}" alt=""  >
              <div class="overlay-text">
              <h1 class="title">Charpentes</h1>
              <span class="post">Les charpentes ABC Legermain couvrent une large gamme de produits.</span>
            </div>
            </a>


          </div>

                </div>
            </div>
            <a href="{{path("galerieCouverture")}}">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="full news_blog">
                  <div class="single-works">
              <img src="{{asset("img/couverture (1).JPG")}}" alt=""  >
              <div class="overlay-text">
              <h1 class="title">Couvertures</h1>
              <span class="post">La couverture de vos charpentes pour protéger vos demeures.</span>
            </div>
            </a>


          </div>



                </div>
            </div>
            <a href="{{path("galerieEouvre")}}">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="full news_blog">
                  <div class="single-works">
              <img src="{{asset("img/ouvrage (1).JPG")}}" alt=""  >
              <div class="overlay-text">
              <h1 class="title">Ouvrages</h1>
              <span class="post">Escaliers, rambardes et autres menuiseries artisanales.</span>
            </div>
            </a>


          </div>

                </div>
            </div>


    </div>
</div>

<div class="mb-5"></div>
<!-- end section -->

<hr class="featurette-divider">
<div class="mb-5"></div>

    <div class="row featurette">
      <div class="col-md-7">
        <div class="fusion-text">

        <h2 style="text-align: center;color: rgba(12,94,98,1);">Nous apportons un soin particulier à l’écoute et au conseil</h2><div class="fusion-sep-clear"></div><div class="fusion-separator sep-single sep-solid" style="border-color:#e97f7a;border-top-width:3.5px;margin-left: auto;margin-right: auto;margin-top:0px;margin-bottom:30px;width:100%;max-width:200PX;"></div><div class="fusion-text">

        <p class="lead text-justify">Deux <strong>points essentiels</strong>  qui précédent la réalisation de vos ouvrages.Réaliser un travail <strong>artisanal</strong> , respectueux des <strong>traditions</strong> , tout en accordant notre prestation à votre budget, telle est notre<strong> ambition</strong> .</p>



          <a href="{{path("contact")}}"><button style=" background-color:rgba(12,94,98,1);" type="button" class="btn btn-primary" type="submit">Demandez votre devis</button></a>
     <div class="mb-5"></div>
      </div>

</div>
</div>
 <div class="col-md-5">
        <div class="mb-5" ></div>
        <div class="mb-5" ></div>

<div class="single-works">
              <img src="{{asset("img/ouvrage (2).JPG")}}" style="height: 335px;" alt=""  >

          </div>
      </div>
    </div>
</div>


     <div class="mb-5" ></div>



<hr class="featurette-divider">



<h2  style="text-align: center;color: rgba(12,94,98,1);"><img src="https://www.pbc-toiture.fr/themes/default_3_columns/img/part.jpg" class="img-responsive"
          >Partenaires</h2><div class="fusion-sep-clear"></div><div class="fusion-separator sep-single sep-solid" style="border-color:#e97f7a;border-top-width:3.5px;margin-left: auto;margin-right: auto;margin-top:0px;margin-bottom:30px;width:100%;max-width:100PX;"></div>
          <div class="fusion-text">

                 <div class="mb-5" ></div>

 <!-- Three columns of text below the carousel -->
    <div class="row">
<div class="form-group col-1 "></div>
      <div class="col-md-3">
<div class="single-work" style ="width: 140px;" >
              <img src="{{asset("img/logo-maitreartisan.png")}}" class = "img-responsive" alt="" >

          </div>


      </div><!-- /.col-lg-4 -->
      <div class="form-group col-1"></div>
      <div class="col-md-3 ">
        <div class="single-work text-center" style ="width: 140px;" >

       <img  src="{{asset("img/logo_qualibat.png")}}" class = "img-responsive">
         </div>

     </div><!-- /.col-lg-4 -->
     <div class="form-group col-1"></div>
      <div class="col-md-3 ">
       <div class="single-work text-center" style ="width: 140px;" >

        <img  src="{{asset("img/logo-fondation-du-patrimoine.jpg")}}" class = "img-responsive" >
      </div>
      </div><!-- /.col-lg-4 -->


    </div><!-- /.row -->
</div>

     <div class="mb-5" ></div>


     <hr class="featurette-divider">
     <div class="mb-5" ></div>

 <div class="bottom">
    <div class="row featurette">
      <div class="col-md-7">
       <div class="map pull-left">

  <a href="https://www.google.com/maps/place/72140+Rouez/@48.139449,-0.114082,12z/data=!4m5!3m4!1s0x4809d3bb0b2758f7:0x40d37521e0ac1a0!8m2!3d48.139449!4d-0.114082" target="_blank">
  <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d24479.052770857917!2d0.7213492277536205!3d47.362861764523664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1601577870632!5m2!1sfr!2sfr"  width="710" height="365" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></a>
  </div>
      </div>


      <div class="col-md-5">

<div class="contenu  pull-right">




    <div>
      <span><img src="https://www.pbc-toiture.fr/themes/default_3_columns/img/pic-b.png" class="img-responsive"></span>
    <span class="titre" style="font-family: Montserrat,Arial,Helvetica,sans-serif;">Contact</span>
    <p>
    <img src="https://www.pbc-toiture.fr/themes/default_3_columns/img/f1.png" class="img-responsive">
    <span style="font-family: Arial, Helvetica, sans-serif;">02 47 36 70 34</span>
    </p>
      <p>
    <img src="https://www.pbc-toiture.fr/themes/default_3_columns/img/f2.png" class="img-responsive">
    <a href="mailto:infos@legermain.com" style="font-family: Arial, Helvetica, sans-serif;">infos@legermain.com</a>
    </p>
    <p>
    <img src="https://www.pbc-toiture.fr/themes/default_3_columns/img/f3.png" class="img-responsive">
    <a href="https://www.google.com/maps/place/72140+Rouez/@48.139449,-0.114082,12z/data=!4m5!3m4!1s0x4809d3bb0b2758f7:0x40d37521e0ac1a0!8m2!3d48.139449!4d-0.114082" target="_blank" style="font-family: Arial, Helvetica, sans-serif;">72140 Rouez en Champagne </a>
    </p>
      <p>
    <img src="https://www.pbc-toiture.fr/themes/default_3_columns/img/f4.png" class="img-responsive">
    <a href="#" target="_blank" style="font-family: Arial, Helvetica, sans-serif;">Facebook/ABC Legermain</a>
    </p>
    <p>
    <img src="https://www.pbc-toiture.fr/themes/default_3_columns/img/f5.png" class="img-responsive">
    <a href="#" target="_blank" style="font-family: Arial, Helvetica, sans-serif;">Instagram/ABC Legermain</a>
    </p>
    </div>
                   </div>

      </div>
    </div>
</div>
<div class="mb-5" ></div>

  </div><!-- /.container -->

{% endblock %}
