{% extends 'base.html.twig' %}

{% block body %}

<link rel="stylesheet" href="{{asset("css/index.css")}}">

<div class="container marketing">



  <!-- START THE FEATURETTES -->
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="fusion-text col-md-12">
    <h2 style="text-align: center;color: rgba(12,94,98,1);">Rejoignez-Nous</h2><div class="fusion-sep-clear"></div><div class="fusion-separator sep-single sep-solid" style="border-color:#e97f7a;border-top-width:3px;margin-left: auto;margin-right: auto;margin-top:0px;margin-bottom:30px;width:100%;max-width:50PX;"></div>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Léna ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat.
    </p>
  </div>
  </div>

  <hr class="featurette-divider">

<div class="mt-5 mb-5">
  <div class="row featurette mt-3 mb-3 ml-3 mr-3">
    <div class="fusion-text col-md-3">
      <img src="{{asset("img/charpente (1).jpg")}}" class = "single-works" alt="" style = "height: 250px;">
    </div>
    <div class="fusion-text col-md-9">
    <a href="#"><h4 style="color: rgba(12,94,98,1);text-decoration: underline;">Intitulé du poste 1 (H/F)</h4></a>
    <p class="accroche" style="center;color:  #fb7d09;">Accroche du poste</p>
    <div class="fusion-text">
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Léna ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>
    </div>
  </div>
</div>

<hr class="featurette-divider">

<div class=" mt-5 mb-5">
<div class="row featurette mt-3 mb-3 ml-3 mr-3">
  <div class="fusion-text col-md-3">
    <img src="{{asset("img/charpente (1).jpg")}}" class = "single-works" alt="" style = "height: 250px;">
  </div>
  <div class="fusion-text col-md-9">
  <a href="#"><h4 style="color: rgba(12,94,98,1);text-decoration: underline;">Intitulé du poste 1 (H/F)</h4></a>
  <p class="accroche" style="center;color:  #fb7d09;">Accroche du poste</p>
  <div class="fusion-text">
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Léna ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </div>
  </div>
</div>
</div>

<hr class="featurette-divider">

<div class=" mt-5 mb-5">
<div class="row featurette mt-3 mb-3 ml-3 mr-3">
  <div class="fusion-text col-md-3">
    <img src="{{asset("img/charpente (1).jpg")}}" class = "single-works" alt="" style = "height: 250px;">
  </div>
  <div class="fusion-text col-md-9">
  <a href="#"><h4 style="color: rgba(12,94,98,1);text-decoration: underline;">Intitulé du poste 2 (H/F)</h4></a>
  <p class="accroche" style="center;color:  #fb7d09;">Accroche du poste</p>
  <div class="fusion-text">
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Léna ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </div>
  </div>
</div>
</div>

<hr class="featurette-divider">

<div class=" mt-5 mb-5">
<div class="row featurette mt-3 mb-3 ml-3 mr-3">
  <div class="fusion-text col-md-3">
    <img src="{{asset("img/charpente (1).jpg")}}" class = "single-works" alt="" style = "height: 250px;">
  </div>
  <div class="fusion-text col-md-9">
  <a href="#"><h4 style="color: rgba(12,94,98,1);text-decoration: underline;">Intitulé du poste 3 (H/F)</h4></a>
  <p class="accroche" style="center;color:  #fb7d09;">Accroche du poste</p>
  <div class="fusion-text">
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Léna ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </div>
  </div>
</div>
</div>


</div>
</div>
{% endblock %}
