{% extends 'galerie.html.twig' %}

{% block galerie %}

<div class="row featurette">
  <div class="col-md-12">
    <div class="fusion-text">
    <h2 style="text-align: center;color: rgba(12,94,98,1);">Couverture</h2><div class="fusion-sep-clear"></div><div class="fusion-separator sep-single sep-solid" style="border-color:#e97f7a;border-top-width:3px;margin-left: auto;margin-right: auto;margin-top:0px;margin-bottom:30px;width:100%;max-width:50PX;"></div>
    <p class="lead"><strong>Legermain</strong>, dispose d'un <strong>savoir-faire</strong> précieux dans la couverture en ardoise et en tuile. Disposant d'une main d'oeuvre <strong>experimenté</strong> et à l'écoute, qui vous accompagnera dans vos projets de couvrage les plus osez !
        </p>
    </div>
<section >
<div class="gallery justify-content-center" id="gallery">
 <!-- Grid column -->
 <div class="mb-3 pics">
   <a href="{{asset('img/couverture (2).jpg')}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 image-galerie">
       <img src="{{asset('img/couverture (2).jpg')}}" class="img-fluid image-galerie">
   </a>
 </div>
 <!-- Grid column -->

 <!-- Grid column -->
 <div class="mb-3 pics">
   <a href="{{asset('img/couverture (3).jpg')}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3 image-galerie">
       <img src="{{asset('img/couverture (3).jpg')}}" class="img-fluid image-galerie">
   </a>
 </div>
 <!-- Grid column -->

 <!-- Grid column -->
 <div class="mb-3 pics">
   <a href="{{asset('img/couverture (5).jpg')}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
       <img src="{{asset('img/couverture (5).jpg')}}" class="img-fluid  image-galerie">
   </a>
 </div>
 <!-- Grid column -->

 <!-- Grid column -->
 <div class="mb-3 pics">
   <a href="{{asset('img/couverture (1).jpg')}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
       <img src="{{asset('img/couverture (1).jpg')}}" class="img-fluid  image-galerie">
   </a>
 </div>
 <!-- Grid column -->

 <div class="mb-3 pics">
   <a href="{{asset('img/couverture1.jpg')}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
       <img src="{{asset('img/couverture1.jpg')}}" class="img-fluid image-galerie">
   </a>
 </div>
 <!-- Grid column -->

 <!-- Grid column -->
 <div class="mb-3 pics">
   <a href="{{asset('img/couverture (4).jpg')}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
       <img src="{{asset('img/couverture (4).jpg')}}" class="img-fluid image-galerie">
   </a>
 </div>
 <!-- Grid column -->
</div>
</section>

{% endblock %}
