{% extends 'galerie.html.twig' %}

{% block titre %}Ouvrages{% endblock %}

{% block galerie %}

<title>ABC - Legermain - ouvrages</title>

<div class="row featurette">
  <div class="col-md-12">
    <div class="fusion-text">
    <h2 style="text-align: center;color: rgba(12,94,98,1);">Savoir-Faire</h2><div class="fusion-sep-clear"></div><div class="fusion-separator sep-single sep-solid" style="border-color:#e97f7a;border-top-width:3px;margin-left: auto;margin-right: auto;margin-top:0px;margin-bottom:30px;width:100%;max-width:50PX;"></div>
    <p class="lead"><strong>Legermain</strong> vous accompagne dans vos projet de gros oeuvres. Fort de ses <strong>70 ans d'éxpérience</strong> sont savoir <strong>faire est reconnu</strong>.
        </p>
    </div>
  </div>
</div>

<hr class="featurette-divider">
<div class="row featurette">
  <div class="col-8 mt-3 mb-3">
    <div class="fusion-text">
    <h2 style="text-align: center;color: rgba(12,94,98,1);">Nos Compétence</h2>
    <div class="fusion-sep-clear"></div><div class="fusion-separator sep-single sep-solid" style="border-color:#e97f7a;border-top-width:3px;margin-left: auto;margin-right: auto;margin-top:0px;margin-bottom:30px;width:100%;max-width:50PX;"></div>
    <p class="lead text-justify">
      Texte à propos de ce que l'on fait, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Léna ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat.
    </p>
    </div>
  </div>
  <div class="col-md-4 mt-3 mb-3">
    <div class="mb-5" ></div>
    <div class="mb-5" ></div>

<div class="single-works">
          <img src="{{asset("img/couverture (1).JPG")}}" style = "height: 335px;" alt=""  >

      </div>
</div>
</div>

<section >
<div class="gallery justify-content-center" id="gallery">
 <!-- Grid column -->
 <div class="mb-3 pics">
   <a href="{{asset('img/ouvrage (1).jpg')}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
       <img src="{{asset('img/ouvrage (1).jpg')}}" class="img-fluid image-galerie single-works">
   </a>
 </div>
 <!-- Grid column -->

 <!-- Grid column -->
 <div class="mb-3 pics">
   <a href="{{asset('img/ouvrage (2).jpg')}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
       <img src="{{asset('img/ouvrage (2).jpg')}}" class="img-fluid image-galerie single-works">
   </a>
 </div>
 <!-- Grid column -->

 <!-- Grid column -->
 <div class="mb-3 pics">
   <a href="{{asset('img/ouvrage (9).jpg')}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
       <img src="{{asset('img/ouvrage (9).jpg')}}" class="img-fluid image-galerie single-works">
   </a>
 </div>
 <!-- Grid column -->

 <!-- Grid column -->
 <div class="mb-3 pics">
   <a href="{{asset('img/ouvrage (4).jpg')}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
       <img src="{{asset('img/ouvrage (4).jpg')}}" class="img-fluid image-galerie single-works">
   </a>
 </div>
 <!-- Grid column -->

 <div class="mb-3 pics">
   <a href="{{asset('img/ouvrage (10).jpg')}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
       <img src="{{asset('img/ouvrage (10).jpg')}}" class="img-fluid image-galerie single-works">
   </a>
 </div>
 <!-- Grid column -->

 <!-- Grid column -->
 <div class="mb-3 pics">
   <a href="{{asset('img/ouvrage (6).jpg')}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
       <img src="{{asset('img/ouvrage (6).jpg')}}" class="img-fluid image-galerie single-works">
   </a>
 </div>
 <!-- Grid column -->
</div>
</section>
</div>
</div>
</div>

{% endblock %}
