{% extends 'galerie.html.twig' %}

{% block galerie %}

<div class="row featurette">
  <div class="col-md-12">
    <div class="fusion-text">
    <h2 style="text-align: center;color: rgba(12,94,98,1);">Ouvrage</h2><div class="fusion-sep-clear"></div><div class="fusion-separator sep-single sep-solid" style="border-color:#e97f7a;border-top-width:3px;margin-left: auto;margin-right: auto;margin-top:0px;margin-bottom:30px;width:100%;max-width:50PX;"></div>
    <p class="lead"><strong>Legermain</strong> vous accompagne dans vos projet de gros oeuvres. Fort de ses <strong>70 ans d'éxpérience</strong> sont savoir <strong>faire est reconnu</strong>.
        </p>
    </div>
<section >
<div class="gallery justify-content-center" id="gallery">
 <!-- Grid column -->
 <div class="mb-3 pics">
   <a href="{{asset('img/ouvrage (1).jpg')}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
       <img src="{{asset('img/ouvrage (1).jpg')}}" class="img-fluid image-galerie">
   </a>
 </div>
 <!-- Grid column -->

 <!-- Grid column -->
 <div class="mb-3 pics">
   <a href="{{asset('img/ouvrage (2).jpg')}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
       <img src="{{asset('img/ouvrage (2).jpg')}}" class="img-fluid image-galerie">
   </a>
 </div>
 <!-- Grid column -->

 <!-- Grid column -->
 <div class="mb-3 pics">
   <a href="{{asset('img/ouvrage (9).jpg')}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
       <img src="{{asset('img/ouvrage (9).jpg')}}" class="img-fluid image-galerie">
   </a>
 </div>
 <!-- Grid column -->

 <!-- Grid column -->
 <div class="mb-3 pics">
   <a href="{{asset('img/ouvrage (4).jpg')}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
       <img src="{{asset('img/ouvrage (4).jpg')}}" class="img-fluid image-galerie">
   </a>
 </div>
 <!-- Grid column -->

 <div class="mb-3 pics">
   <a href="{{asset('img/ouvrage (10).jpg')}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
       <img src="{{asset('img/ouvrage (10).jpg')}}" class="img-fluid image-galerie">
   </a>
 </div>
 <!-- Grid column -->

 <!-- Grid column -->
 <div class="mb-3 pics">
   <a href="{{asset('img/ouvrage (6).jpg')}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-3">
       <img src="{{asset('img/ouvrage (6).jpg')}}" class="img-fluid image-galerie">
   </a>
 </div>
 <!-- Grid column -->
</div>
</section>
</div>
</div>
</div>

{% endblock %}
